<!-- views/signin/signin.ejs -->
<html>

<head>
    <title>Sign In</title>
</head>

<body>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Sign In</button>
    </form>
</body>

</html>